/* Exercício 02: */
/* 1. Posicione o Mário acima do Goomba */
.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 120px;
    top: 340px;
  }
  
  /* 2. Posicione a tag p para que fique dentro do balão de fala */
  .baloon {
    position: absolute;
    left: 250px;
    top: 50px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 275px;
    top: 90px;
    z-index: 1;
  }
  
  /* 3. Posicione o balão para que se torne uma fala de Bowser */
  .bowser {
    width: 200px;
    position: absolute;
    left: 520px;
    top: 220px;
  }