  /* 

  Exercicio:

  1. Adicione uma propriedade que defina o tamanho Flexbox base para o container da imagem 268px e para o container do menu 500px. Após aplicar as propriedades, o header deverá estar similar à imagem abaixo:
  (imagem)

  2. Adicione uma propriedade Flexbox que modifique a ordem em que o logo e os itens do menu aparecem na tela. Após aplicar a propriedade, o header deverá estar similar à imagem abaixo:
  (imagem)

  3. Adicione uma propriedade Flexbox que faça o container do menu crescer, quando houver espaço disponível. Após aplicar a propriedade, o header deverá estar similar à imagem abaixo:
  (imagem)

  4. Utilize a propriedade align-self no elemento correto para que o header da página tenha o seguinte comportamento:
  (imagem)
  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: rgb(247, 247, 247);
  }
  
  .header-container {
    background-color: #5C687C;
    display: flex;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    /* Requirement 1: */
    flex-basis: 268px;
  }
  
  .menu-container {
    display: flex;
    /* Requirement 1: */
    flex-basis: 500px;
    /* Requirement 2: */
    order: 1;
  }
  
  .menu-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
  }
