/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change

Realize as seguintes tarefas:

1. Faça o tamanho da fonte ser maior;
2. Faça o tamanho da fonte dos elementos h1 ser menor;
3. Aumente o espaçamento entre as figuras;
4. Adicione um pouco de margin na página.

Bora mexer na responsividade do nosso site? Antes iremos determinar um padrão de tamanho para cada dispositivo e para isso você pode usar esse link de referência:
max-width: 600px: Telas de celular. (Mobile devices)
min-width: 600px: iPads, Tablets
min-width: 768px: Telas menores, laptops
min-width: 992px: Desktops
min-width: 1200px — Telas grandes, screens e TV.

Agora que temos um padrão, vamos criar um breakpoint para telas menores de laptops. Para isso nós podemos consultar nossa tabela acima e utilizar o min-width: 768px e quando tivermos em telas menores que 768px esse estilo não vai ser aplicado. Esse será o primeiro breakpoint do layout. Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar. Ok?

5. Crie uma media query no seu arquivo CSS, usando a dimensão em pixels que você guardou como o min-width que foi apresentado acima.
6. Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito);
7. Ajuste o tamanho da fonte;
8. Ajuste as margens da página;
9. Faça as imagens serem mostradas em duas colunas.
10. Agora, você vai criar outro breakpoint para telas grandes, como por exemplo, desktops. Para isso você pode consultar novamente nossa tabela com os tamanhos.
11. Crie uma nova media query no seu arquivo CSS usando a dimensão para telas de desktop e realize os seguintes ajustes dentro do breakpoint (aqui podemos usar o tamanho de tela de 992px):
12. Altere a cor de fundo;
13. Ajuste o tamanho da fonte;
14. Ajuste as margens da página;
15. Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande.
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.5em;
  margin: 60px 40px 60px 40px;
}

article {
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 0;
}

figcaption {
  font-size: .8em;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  body {
    background-color: lightpink ;
    font-size: 1.3em;
    margin: 80px 60px 80px 60px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 5px 5px 5px;
  }
}
